.capability {
  margin: 200px 0;
  @include user-select(none);

  & > h3 {
    font-size: 35px;
    padding-bottom: 50px;
  }

  .features {
    padding-left: 20px;
    font-size: 0;

    .last {
      margin: 0;
    }

    figure {
      margin-right: 70px;
      display: inline-block;
      width: 240px;

      img {
        padding: 13px;
        border: 1px solid #e1e1e1;
      }

      figcaption {
        h3 {
          padding: 35px 0 0;
          font-size: 24px;
          line-height: 48px;
        }
        p {
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          font-family: Georgia sans-serif;
          color: #8a8a8a;
          line-height: 24px;
        }
      }
    }

    a {
      margin-top: 20px;
    }
  }
}