.capability {
  margin: 200px 0;
  @include user-select(none);

  & > h3 {
    padding-bottom: 50px;
    font-size: 35px;
  }

  .features {
    padding-left: 20px;
    font-size: 0;

    figure {
      display: inline-block;
      width: 240px;
      margin-left: 70px;

      &:first-child {
        margin: 0;
      }

      img {
        padding: 13px;
        border: 1px solid #e1e1e1;
      }

      figcaption {
        h3 {
          padding: 35px 0 0;
          font-size: 24px;
          line-height: 48px;
        }
        p {
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          font-family: Georgia sans-serif;
          line-height: 24px;
          color: #8a8a8a;
        }
      }
    }

    a {
      margin-top: 20px;
    }
  }
}