.introduction {
  margin-bottom: 110px;
  @include user-select(none);

  & > h3 {
    font-size: 24px;
    line-height: 28px;
  }

  & > p {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    font-family: Georgia sans-serif;
    line-height: 28px;
    color: #8a8a8a;
  }

  .button {
    margin-top: 70px;
    line-height: 71px;
  }
}