.review-right {
  margin: 140px 0 210px;
  padding-left: 20px;
  @include user-select(none);

  figure {
    font-size: 0;
    @include clearfix;

    img {
      float: right;
      padding: 0 50px 0 90px;
    }
    figcaption {
      width: 470px;
      padding-top: 170px;
      text-align: left;

      h3 {
        display: inline;
      }
      .application {
        float: right;
        img {
          float: left;
          padding: 0 0 0 20px;
        }
      }
      p {
        padding-top: 15px;
        text-align: justify;
      }
      a {
        margin-top: 20px;
      }
    }
  }
}

.review-left {
  padding-left: 20px;

  figure {
    font-size: 0;
    @include clearfix;

    img {
      float: left;
      padding: 0 130px 0 0;
    }
    figcaption {
      padding-top: 170px;
      width: 470px;
      float: right;
      text-align: left;

      p {
        padding-top: 15px;
        text-align: justify;
      }

      a {
        margin-top: 20px;
      }
    }
  }
}
