aside {
  position: fixed;
  top: 0;
  right: -190px;
  width: 190px;
  height: 100%;
  background-color: #e4e8ea;
  text-align: center;
  @include transition-property(right);
  @include transition-duration(400ms);
  @include user-select(none);


  & > img {
    margin: 80px 0 60px;
  }

  nav {
    ul {
      li {
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          left: 80px;
          width: 30px;
          height: 1px;
          background: #a4a6a8;
          content: '';
        }

        &:last-child::after {
          width: 0;
          content: '';
        }

        a {
          letter-spacing: 2px;
          line-height: 62px;
          text-transform: uppercase;
          text-decoration: none;
          @include transition-property(all);
          @include transition-duration(800ms);

          &:hover {
            color: #383838;
          }

        }
      }
    }
  }

  .mail {
    display: inline-block;
    margin-top: 60px;
    @include transition-property(all);
    @include transition-duration(800ms);

    a {
      display: block;
      width: 55px;
      height: 55px;
      margin: auto;
      border-radius: 50%;
      background: url("../../images/aside/aside-mail.png") no-repeat center center #3a3a3a;
    }

    &:hover{
      background-color: #fff;
      @include opacity(0.3);
    }
  }
  &.show {
    right: 0;
  }
}