footer {
  border-top: 1px solid #e1e1e1;
  @include user-select(none);

  nav {
    @include clearfix;

    ul {
      float: left;
      font-size: 0;

      li {
        display: inline-block;
        margin-right: 25px;
        line-height: 100px;
        a {
          text-transform: capitalize;
          text-decoration: none;
          font-weight: lighter;
          font-size: 14px;
          color: #8a8a8a;
          @include transition-property(all);
          @include transition-duration(800ms);

          &:hover {
            text-decoration: underline;
            color: #000;
          }
        }
      }
    }
    p {
      font-family: "Open Sans",  sans-serif;
      float: right;
      line-height: 100px;
      font-size: 14px;
      color: #8a8a8a;
    }
  }
}