.arrow {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid #16a085;
  background-color: transparent;
  @include border-radius(50%);
  @include transition-property(all);
  @include transition-duration(600ms);

  &.launch {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;

    &::after, &::before {
      background: #fff;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }

  &::after, &::before {
    position: absolute;
    top: 7.5%;
    right: 1px;
    bottom: 0;
    left: -15%;
    z-index: -1;
    width: 33%;
    height: 8%;
    margin: auto;
    background: #16a085;
    content: "";
    @include border-radius(5px);
    @include rotate(45deg);
  }

  &::before {
    left: 21%;
    @include rotate(315deg);
  }

  &:hover {
    background-color: rgba(208, 214, 217, .4);
  }
}