@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

* {
  font: normal lighter 18px "Open Sans", sans-serif;
  color: #363636;
}

body {
  position: relative;

  .content-wrapper {
    text-align: center;

    .content {
      display: inline-block;
      font-size: 0;
      text-align: center;

      .content-block {
        width: 900px;
        margin: 0 auto;
        background-color: #fff;
        font-size: 14px;
      }
    }
  }
  .push {
    float: right;
    width: 0;
    height: 100%;
    min-height: 1px;
    vertical-align: top;
    @include transition-property(width);
    @include transition-duration(400ms);

    &.show {
      width: 190px;
    }
  }

  h1 {
    line-height: 58px;
  }

  h2 {
    line-height: 32px;
  }

  h3 {
    line-height: 42px;
    text-transform: uppercase;
  }

  h5 {
    line-height: 42px;
  }

  p {
    line-height: 28px;
  }
}