@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
/* line 17, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/_base.scss */
* {
  font: normal lighter 18px "Open Sans", sans-serif;
  color: #363636;
}

/* line 8, ../scss/_base.scss */
body {
  position: relative;
}
/* line 11, ../scss/_base.scss */
body .content-wrapper {
  text-align: center;
}
/* line 14, ../scss/_base.scss */
body .content-wrapper .content {
  display: inline-block;
  font-size: 0;
  text-align: center;
}
/* line 19, ../scss/_base.scss */
body .content-wrapper .content .content-block {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 14px;
}
/* line 28, ../scss/_base.scss */
body h1 {
  line-height: 58px;
}
/* line 32, ../scss/_base.scss */
body h2 {
  line-height: 32px;
}
/* line 36, ../scss/_base.scss */
body h3 {
  line-height: 42px;
  text-transform: uppercase;
}
/* line 41, ../scss/_base.scss */
body h5 {
  line-height: 42px;
}
/* line 45, ../scss/_base.scss */
body p {
  line-height: 28px;
}

/* line 1, ../scss/components/_arrow.scss */
.arrow {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #16a085;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
}
/* line 16, ../scss/components/_arrow.scss */
.arrow.launch {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
}
/* line 22, ../scss/components/_arrow.scss */
.arrow.launch::after, .arrow.launch::before {
  background: #fff;
}
/* line 26, ../scss/components/_arrow.scss */
.arrow.launch:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 31, ../scss/components/_arrow.scss */
.arrow::after, .arrow::before {
  position: absolute;
  top: 7.5%;
  right: 1px;
  bottom: 0;
  left: -15%;
  z-index: -1;
  margin: auto;
  content: "";
  width: 33%;
  height: 8%;
  background: #16a085;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 47, ../scss/components/_arrow.scss */
.arrow::before {
  left: 21%;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
/* line 52, ../scss/components/_arrow.scss */
.arrow:hover {
  background-color: rgba(208, 214, 217, 0.4);
}

/* line 1, ../scss/components/_button.scss */
.button {
  display: inline-block;
  width: 230px;
  height: 72px;
  background-color: #16a085;
  border: solid 3px transparent;
  border-bottom-color: #3bd4b6;
  font: 16px "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
}
/* line 16, ../scss/components/_button.scss */
.button:hover {
  background-color: #19b596;
}
/* line 20, ../scss/components/_button.scss */
.button.video {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px #fff;
}
/* line 24, ../scss/components/_button.scss */
.button.video:hover {
  background-color: #141d25;
}

/* line 2, ../scss/components/_clearfix.scss */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

/* line 1, ../scss/components/_heading.scss */
h1 {
  font-size: 48px;
  color: #fff;
}
/* line 5, ../scss/components/_heading.scss */
h1 span {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}

/* line 12, ../scss/components/_heading.scss */
h2 {
  color: #fff;
}

/* line 16, ../scss/components/_heading.scss */
h3 {
  font-size: 36px;
}

/* line 20, ../scss/components/_heading.scss */
h5 {
  font-family: Georgia sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #8a8a8a;
}

/* line 28, ../scss/components/_heading.scss */
p {
  font-size: 16px;
  color: #777;
}

/* line 33, ../scss/components/_heading.scss */
a {
  font-family: "Open Sans",  sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #757575;
}

/* line 1, ../scss/widgets/_aside.scss */
aside {
  position: fixed;
  top: 0;
  right: -190px;
  width: 190px;
  height: 100%;
  background-color: #e4e8ea;
  text-align: center;
  font-size: 0;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 15, ../scss/widgets/_aside.scss */
aside > img {
  margin: 80px 0 60px;
}
/* line 21, ../scss/widgets/_aside.scss */
aside nav ul li {
  position: relative;
}
/* line 24, ../scss/widgets/_aside.scss */
aside nav ul li::after {
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 30px;
  height: 1px;
  background: #a4a6a8;
  content: '';
}
/* line 34, ../scss/widgets/_aside.scss */
aside nav ul li:last-child::after {
  width: 0;
  content: '';
}
/* line 39, ../scss/widgets/_aside.scss */
aside nav ul li a {
  letter-spacing: 2px;
  line-height: 62px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 47, ../scss/widgets/_aside.scss */
aside nav ul li a:hover {
  color: #383838;
}
/* line 56, ../scss/widgets/_aside.scss */
aside .mail {
  display: inline-block;
  margin-top: 60px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 62, ../scss/widgets/_aside.scss */
aside .mail a {
  display: block;
  width: 55px;
  height: 55px;
  margin: auto;
  border-radius: 50%;
  background: url("../../images/aside/aside-mail.png") no-repeat center center #3a3a3a;
}
/* line 71, ../scss/widgets/_aside.scss */
aside .mail:hover {
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 76, ../scss/widgets/_aside.scss */
aside.show {
  right: 0;
}

/* line 1, ../scss/widgets/_footer.scss */
footer {
  border-top: 1px solid #e1e1e1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 6, ../scss/widgets/_footer.scss */
footer nav ul {
  float: left;
  font-size: 0;
}
/* line 10, ../scss/widgets/_footer.scss */
footer nav ul li {
  display: inline-block;
  margin-right: 25px;
  line-height: 100px;
}
/* line 15, ../scss/widgets/_footer.scss */
footer nav ul li a {
  font-weight: lighter;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  color: #8a8a8a;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 24, ../scss/widgets/_footer.scss */
footer nav ul li a:hover {
  text-decoration: underline;
  color: #000;
}
/* line 31, ../scss/widgets/_footer.scss */
footer nav p {
  float: right;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 100px;
  color: #8a8a8a;
}

/* line 1, ../scss/widgets/_input.scss */
.input-image {
  display: inline-block;
  width: 488px;
  background-color: #fff;
  background-position: 21px;
  background-image: url("../../images/sign-in/mail.png");
  background-repeat: no-repeat;
  font-size: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 15, ../scss/widgets/_input.scss */
.input-image input[type="email"] {
  width: 414px;
  height: 71px;
  margin-left: 74px;
  border: none;
  vertical-align: middle;
}
/* line 22, ../scss/widgets/_input.scss */
.input-image input[type="email"]:focus {
  outline: none;
}

/* line 1, ../scss/layouts/_landing.scss */
.landing {
  overflow-x: hidden;
  font-size: 0;
}
/* line 1, ../scss/layouts/_launcher.scss */
.landing .launcher {
  display: inline-block;
  width: 100%;
  height: 875px;
  background-position: center;
  background-image: url("../../images/launcher/launcher.jpg");
  background-repeat: no-repeat;
  border-bottom: 5px solid #16a085;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 18, ../scss/layouts/_launcher.scss */
.landing .launcher .logo {
  position: relative;
  width: 256px;
  height: 117px;
  z-index: 1;
  margin: auto;
  padding: 120px 0 50px;
}
/* line 26, ../scss/layouts/_launcher.scss */
.landing .launcher .logo::after {
  position: absolute;
  top: 120px;
  right: -5px;
  z-index: -1;
  display: block;
  content: url("../../images/launcher/shadow.png");
}
/* line 36, ../scss/layouts/_launcher.scss */
.landing .launcher h2 {
  margin-top: 25px;
}
/* line 40, ../scss/layouts/_launcher.scss */
.landing .launcher .cta-button {
  margin: 110px 0;
}
/* line 44, ../scss/layouts/_launcher.scss */
.landing .launcher .button {
  line-height: 72px;
}
/* line 47, ../scss/layouts/_launcher.scss */
.landing .launcher .button:first-child {
  margin-right: 30px;
}
/* line 1, ../scss/layouts/_review.scss */
.landing .review-right {
  margin: 140px 0 210px;
  padding-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 7, ../scss/layouts/_review.scss */
.landing .review-right figure {
  font-size: 0;
}
/* line 10, ../scss/layouts/_review.scss */
.landing .review-right figure img {
  float: right;
  padding: 0 50px 0 90px;
}
/* line 15, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption {
  float: left;
  width: 470px;
  padding-top: 170px;
  text-align: left;
}
/* line 21, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption h3 {
  display: inline;
}
/* line 24, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption .application {
  float: right;
}
/* line 28, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption .application a img {
  float: left;
  padding: 0 20px 0 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
}
/* line 34, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption .application a img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 40, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption p {
  padding-top: 15px;
  text-align: justify;
}
/* line 44, ../scss/layouts/_review.scss */
.landing .review-right figure figcaption a {
  margin-top: 20px;
}
/* line 51, ../scss/layouts/_review.scss */
.landing .review-left {
  padding-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 55, ../scss/layouts/_review.scss */
.landing .review-left figure {
  font-size: 0;
}
/* line 58, ../scss/layouts/_review.scss */
.landing .review-left figure img {
  float: left;
  padding: 0 130px 0 0;
}
/* line 62, ../scss/layouts/_review.scss */
.landing .review-left figure figcaption {
  padding: 170px 10px 0 0;
  width: 470px;
  float: right;
  text-align: left;
}
/* line 68, ../scss/layouts/_review.scss */
.landing .review-left figure figcaption p {
  padding-top: 15px;
  text-align: justify;
}
/* line 73, ../scss/layouts/_review.scss */
.landing .review-left figure figcaption a {
  margin-top: 20px;
}
/* line 1, ../scss/layouts/_capability.scss */
.landing .capability {
  margin: 200px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 5, ../scss/layouts/_capability.scss */
.landing .capability > h3 {
  font-size: 35px;
  padding-bottom: 50px;
}
/* line 10, ../scss/layouts/_capability.scss */
.landing .capability .features {
  padding-left: 20px;
  font-size: 0;
}
/* line 14, ../scss/layouts/_capability.scss */
.landing .capability .features figure {
  margin-left: 70px;
  display: inline-block;
  width: 240px;
}
/* line 19, ../scss/layouts/_capability.scss */
.landing .capability .features figure:first-child {
  margin: 0;
}
/* line 23, ../scss/layouts/_capability.scss */
.landing .capability .features figure img {
  padding: 13px;
  border: 1px solid #e1e1e1;
}
/* line 29, ../scss/layouts/_capability.scss */
.landing .capability .features figure figcaption h3 {
  padding: 35px 0 0;
  font-size: 24px;
  line-height: 48px;
}
/* line 34, ../scss/layouts/_capability.scss */
.landing .capability .features figure figcaption p {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  font-family: Georgia sans-serif;
  color: #8a8a8a;
  line-height: 24px;
}
/* line 45, ../scss/layouts/_capability.scss */
.landing .capability .features a {
  margin-top: 20px;
}
/* line 1, ../scss/layouts/_sign-in.scss */
.landing .sign-in {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #16a085;
  background-color: #2c3e50;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 9, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper {
  z-index: 2;
}
/* line 12, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper::after {
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  left: -100%;
  z-index: -1;
  border-bottom: 5px solid #16a085;
  background-color: #2c3e50;
  content: '';
  height: 100%;
}
/* line 25, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper > h3 {
  padding-top: 115px;
  color: #fff;
}
/* line 30, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper > p {
  font-size: 16px;
  line-height: 42px;
  color: #fff;
}
/* line 36, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper form {
  margin: 65px 0 100px;
}
/* line 39, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper form input {
  vertical-align: middle;
}
/* line 43, ../scss/layouts/_sign-in.scss */
.landing .sign-in .content-wrapper form .button {
  cursor: pointer;
  vertical-align: middle;
  width: 204px;
  height: 73px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 1, ../scss/layouts/_comments.scss */
.landing .comments {
  margin: 200px 0 140px 0;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 6, ../scss/layouts/_comments.scss */
.landing .comments > h3 {
  margin-bottom: 55px;
}
/* line 12, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper > figure:first-child {
  margin-left: 0;
}
/* line 16, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure {
  margin: 0 0 60px 56px;
  display: inline-block;
  width: 420px;
  height: 335px;
  border: solid 1px #e1e1e1;
}
/* line 23, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure img {
  padding: 48px 0 25px;
}
/* line 26, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure figcaption {
  padding: 0 37px;
}
/* line 29, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure figcaption h3 {
  font-size: 18px;
  line-height: 18px;
}
/* line 33, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure figcaption a {
  font-family: Georgia sans-serif;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  text-decoration: none;
  color: #16a085;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 43, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure figcaption a:hover {
  text-decoration: underline;
  color: #000;
}
/* line 48, ../scss/layouts/_comments.scss */
.landing .comments .figure-wrapper figure figcaption p {
  padding-top: 20px;
  line-height: 24px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  font-family: Georgia sans-serif;
  color: #8a8a8a;
}
/* line 1, ../scss/layouts/_introduction.scss */
.landing .introduction {
  margin-bottom: 110px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
/* line 5, ../scss/layouts/_introduction.scss */
.landing .introduction > h3 {
  font-size: 24px;
  line-height: 28px;
}
/* line 10, ../scss/layouts/_introduction.scss */
.landing .introduction > p {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  font-family: Georgia sans-serif;
  color: #8a8a8a;
  line-height: 28px;
}
/* line 19, ../scss/layouts/_introduction.scss */
.landing .introduction .button {
  line-height: 71px;
  margin-top: 70px;
}
/* line 17, ../scss/layouts/_landing.scss */
.landing .push {
  float: right;
  width: 0;
  height: 100%;
  min-height: 1px;
  vertical-align: top;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 26, ../scss/layouts/_landing.scss */
.landing .push.show {
  width: 190px;
}
